# Streamlit
streamlit
streamlit-aggrid

# Duck Database
duckdb

# Visualization
altair
matplotlib
plotly
tabulate

# Parsing
lxml
orjson
pyyaml
sqlparse
tomli

# Cloud
boto3
google-cloud-storage

# Misc
cryptography
filelock
joblib
nbformat
scipy