# =========================
# Flask
# =========================
Flask
flask-cors>=6.0.3
flask-compress
gunicorn

# =========================
# DuckDB
# =========================
duckdb
duckdb-engine
pyarrow

# =========================
# Visualization
# =========================
altair
matplotlib
plotly
tabulate

# =========================
# Parsing & Serialization
# =========================
lxml
orjson
pyyaml
sqlparse
tomli

# =========================
# Cloud
# =========================
boto3
gcsfs
google-cloud-storage

# # =========================
# # Misc / Core Utilities
# =========================
cryptography
filelock
fsspec
joblib>=1.5.4
tqdm
python-dotenv
gunicorn
pydantic
pydantic-settings
requests
scipy

# =========================
# Optional ORM
# =========================
SQLAlchemy

# =========================
# Dev / Debugging
# =========================
rich
ruff
pytest
black
nbformat